@CHARSET "UTF-8";

body {
	font-family:arial;
}

#banner {
	height:40px;
	width:auto;
	margin: 0px auto;
	border:1px solid silver;
	background-image: url("banner.jpg");
	font-size:17px;
	text-align:center;
}

#navbar {
	height:60px;
	width:1200px;
	margin: 0px auto;
	background-color:#FAFAFA;
	font-size:;
}

#container {
	width:1200px;
	margin: 0px auto;
	border:1px solid silver;
	font-size:;
}

#slogan {
	padding:56px;
	font-size:37px;
	color:#A4A4A4;
}
#footer {
	height:;
	width:;
	margin: 0px auto;
	background-color:;
	font-size:14px;
}